<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>현웅 홈페이지</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <% for (var i =0; i < 5; i++) {%>
            <h3><%= i+1 %>번째 Hello.</h3>
        <%} %>
    </body>
</html>
